button {
  display: grid;
  gap: 0.5rem;
  width: 50%;
  border: none;
  align-items: center;
  background-color: rgb(122, 87, 155);
  color: azure;
  padding: 4%;
  border-radius: 5px;
  cursor: pointer;
}
a{
  color: rgb(182, 126, 234);
}
.container-fluid{
  background-color: rgb(60, 53, 67);
  height: 100vh; 
  display: grid;
  gap: 0; 
}
.signup-text{
  color: ghostwhite;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%; 
  height: 80%;
  opacity: 60%;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: 800;
  padding: 10px; 
  text-align: top;
}


